.contenedor{
    display: grid;
    grid-template-columns: 500px 999px;
    grid-template-rows: 250px 100px 900px 100px;
    grid-template-areas:
    'enc enc enc'
    'enl enl enl'
    'for con inf '
    'pie pie pie'
    ;
}
header{
    background-color: bisque;
    grid-area: enc;
}
nav{
    background-color: rgb(151, 191, 192);
    grid-area: enl;
    text-align: center;
}
section{
    background-color: rgb(169, 193, 240);
    grid-area: for;
}
aside{
    background-color: rgb(188, 240, 188);
    grid-area: con;
}
main{
    background-color: rgb(206, 157, 157);
    grid-area: inf;
}
footer{
    background-color: gainsboro;
    grid-area: pie;
    text-align: center;
}
img{
    width: 500px 999px;
    height: 450px;
}
